//colors
$bg-color: #240c12;
$bg-color-main: #19070b;
$bg-color-footer: #1a070b;
$white: #fff;
$hover: #921834;
$light-pink: #9d344a;
$bg-contacts-color: #745d62;
$credits-color: #5b464b;

$font-didact: "Didact Gothic", sans-serif;
$bg-color-skills: #580e1f;
$color-skills: #921834;

$margin-center: 0 auto;
$width: 1300px;
$section-height: 20%;

%mutual {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  @extend %mutual;
  background-color: $bg-color;
  color: $white;
  font-family: "Roboto Mono", monospace;
}

p {
  @extend %mutual;
}

a {
  text-decoration: none;
  color: $white;
}

button {
  outline: none;
  cursor: pointer;
}

%headers {
  @extend %mutual;
  font-family: "Raleway", sans-serif;
}

@for $i from 6 through 1 {
  h#{$i} {
    @extend %headers;
  }
}

h1 {
  font-family: "Poiret One", cursive;
  font-size: 64px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 26px;
}

.page.en .ru,
.page.ru .en {
  display: none;
}

.container {
  margin: $margin-center;
  width: $width;
}

@keyframes slideDown {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  1% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0%);
  }
}

// HEADER

%img-header {
  height: 80px;
  opacity: 0.7;
  vertical-align: middle;
  padding-top: 10px;
}

.header-alt {
  // CHANGED
  animation: none;
  background-color: transparent;
}

.header {
  background-color: $bg-color-main;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  animation-name: slideDown;
  -webkit-animation-name: slideDown;
  animation-duration: 2s;
  -webkit-animation-duration: 1s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
}

.header img,
.header-alt img {
  @extend %img-header;
}

// GENERAL SECTION SETTINGS

@for $i from 1 through 4 {
  .section-#{$i} {
    border-left: 3px solid #fff;
    padding-left: 37px;
    height: $section-height;

    display: flex;
    flex-direction: column;

    p {
      padding-top: 25px;
    }

    h2,
    h3 {
      padding-bottom: 10px;
    }
  }
}

// SECTION 1

$width-1: 400px;

.section-1 {
  height: $section-height + 20;
  margin-top: 95px;

  h1 {
    letter-spacing: 6px;
    width: $width - 300;
  }

  p {
    line-height: 30px;
    width: $width-1;
    letter-spacing: 2px;

    a:hover {
      color: $hover;
      background-color: $bg-color-main;
      transition: all 0.5s ease;
    }

    a:active {
      color: $light-pink;
    }
  }
}

// BUTTONS

.btn {
  width: 168px;
  height: 65px;
}

.btn-cv {
  width: 150px;
  height: 60px;
  line-height: 2.5;

  text-align: center;
  vertical-align: middle;
  line-height: 60px;
  display: inline-block;
  margin-bottom: 80px;
}

.btn,
.btn-cv {
  border: 2px solid $white;
  background-color: transparent;
  color: $white;

  font-family: $font-didact;
  font-size: 26px;

  margin-left: 37px;
  margin-top: 32px;

  &:hover {
    border-color: $light-pink;
    color: $light-pink;
    transition: all 0.5s ease;
  }

  &:active {
    background-color: rgba(149, 50, 70, 0.16);
  }
}

// SECTION 2

.section-2 {
  margin-top: 100px;

  p {
    letter-spacing: normal;
    line-height: normal;
    padding-top: 10px;
  }
}

// PROJECT SECTION

.projects {
  margin-top: 80px;
  margin-bottom: 80px;
  display: flex;
  flex-wrap: wrap;
}

.project {
  width: 55%;
  height: 550px;
  overflow: hidden;

  &:nth-child(4n + 2),
  &:nth-child(4n + 3) {
    width: 45%;
  }

  &:nth-child(4n + 2) img,
  &:nth-child(4n + 3) img {
    width: 135%;
  }

  &:nth-child(6n + 1) .detail {
    background-color: rgba(159, 17, 42, 0.7);
  }
  &:nth-child(6n + 2) .detail {
    background-color: rgba(83, 15, 29, 0.7);
  }
  &:nth-child(6n + 3) .detail {
    background-color: rgba(94, 26, 54, 0.7);
  }
  &:nth-child(6n + 4) .detail {
    background-color: rgba(148, 12, 66, 0.7);
  }
  &:nth-child(6n + 5) .detail {
    background-color: rgba(132, 21, 74, 0.7);
  }
  &:nth-child(6n + 6) .detail {
    background-color: rgba(106, 12, 68, 0.7);
  }

  &:hover .detail {
    background-color: transparent;
  }

  &:active {
    transform: scale(0.9);
  }

  .detail {
    height: 550px;
    display: block;

    display: flex;
    flex-direction: column;
    justify-content: center;

    transition: all 0.5s ease;
  }
}

.project-content {
  min-height: 155px;
  border-left: 3px solid $white;
  padding-left: 23px;
  margin-right: 55px;
  margin-left: 100px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  h2 {
    margin-bottom: 30px;
  }

  img {
    z-index: -1;
    position: absolute;
    left: -103px;
    height: 550px;
  }
}

// SECTION 3

$width-2: 530px;

.section-3 {
  margin-top: 80px;
  margin-bottom: 160px;

  .level {
    height: 9px;
    width: $width-2 - 330;
    background-color: $bg-color-skills;
    margin: 0;

    div {
      height: 9px;
      background-color: $color-skills;
    }
  }

  .wrap-list {
    margin-bottom: 40px;

    .wrap {
      display: flex;
      justify-content: space-between;
      width: $width-2;
      align-items: center;
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }

      .skill {
        width: $width-2 - 395;
      }
    }
  }
}

// SECTION 4

$width-3: 550px;

.section-4 {
  margin-top: 80px;
  margin-bottom: 160px;

  .ach-wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }
}

.ach-section {
  width: $width-3;
  border-left: 2px solid $white;
  padding-left: 23px;
  height: 215px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  p {
    padding-top: 10px;
    width: $width-3 - 100;

    &:nth-child(2) {
      padding-top: 0;
      padding-bottom: 35px;
    }
  }
}

//FOOTER

.footer {
  height: 360px;
  margin-top: 80px;
  background-color: $bg-color-footer;
}

.footer-wrap {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 360px;

  .contact {
    border-radius: 50%;
    background-color: $bg-contacts-color;
    width: 55px;
    height: 55px;
    text-align: center;
    vertical-align: middle;
    line-height: 55px;
    font-size: 24px;
    color: $bg-color;
    margin-right: 20px;
    transition: all 0.5s ease;

    span {
      display: none;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      transform: scale(1.2);
      font-size: 25px;
      transition: all 0.5s ease;
      background-color: $light-pink;
    }

    &:active {
      transform: scale(1);
      font-size: 24px;
    }

    .fa-github {
      font-size: 26px;

      &:hover,
      &:active {
        font-size: 30px;
      }
    }
  }
}

.credits {
  color: $credits-color;
  font-family: $font-didact;
  font-size: 20px;
  display: flex;

  p {
    border-right: 2px solid $credits-color;
    padding-right: 20px;
  }

  button {
    border: none;
    background-color: transparent;
    color: $credits-color;
    font-family: $font-didact;
    font-size: 20px;
    padding-left: 20px;

    &:hover {
      color: $light-pink;
    }
  }
}

// RESPONSIVE

@media screen and (max-width: 1500px) {
  .container {
    width: $width - 160;
  }

  .project {
    &:nth-child(4n + 2) img,
    &:nth-child(4n + 3) img {
      width: 230%;
      left: -320px;
    }
  }
}

@media screen and (max-width: 1200px) {
  body {
    width: max-content;
  }

  .container {
    width: $width - 160;
  }

  .project {
    width: 50%;
  }

  .project {
    &:nth-child(4n + 2),
    &:nth-child(4n + 3) {
      width: 50%;
    }

    &:nth-child(4n + 2) img,
    &:nth-child(4n + 3) img {
      width: 210%;
    }
  }

  .project-content {
    img {
      left: -300px;
    }
  }

  .wrap {
    width: $width-2 - 130;

    .level {
      width: $width-2 - 410;
    }
  }

  .section-4 {
    .ach-section {
      width: $width-3 - 130;
      p {
        width: auto;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .container {
    width: $width - 340;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: $width - 580;
  }
}

@media screen and (max-width: 576px) {
  .container {
    width: 90%;
  }
}
